<ul class="nav nav-tabs">
  <li class="active"><a href="#0" data-toggle="tab">账户余额</a></li>
  <li><a href="#1" data-toggle="tab">详细资料</a></li>
  <li><a href="#2" data-toggle="tab">订单</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="0">
    <div class="panel">
      <h3>账户余额</h3>

      <div class="panel_contents">
        <div class="attributes_table">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th>余额</th>
              <td>
                <%= @service.wallet.balance %>元
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <%= link_to_modal "转账", "#transfer", class: 'button' %>
                <%= link_to_modal "提现", "#withdraw", class: 'button' %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="1">
    <div class="panel">
      <h3>详细资料</h3>

      <div class="panel_contents">
        <div class="attributes_table service" id="attributes_table_service_398">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr class="row row-">
              <th>美型号</th>
              <td><%= @service.profile.mxid %></td>
            </tr>
            <tr class="row row-">
              <th>昵称</th>
              <td><%= @service.profile.name %></td>
            </tr>
            <tr class="row row-">
              <th>头像</th>
              <td>
                <img height="70" src="<%= @service.profile.avatar.url %>"/>
              </td>
            </tr>
            <tr class="row row-">
              <th>介绍</th>
              <td><%= @service.profile.signature %></td>
            </tr>
            <tr class="row row-">
              <th>服务</th>
              <td><%= @service.profile.interests_string %></td>
            </tr>
            <tr class="row row-">
              <th>省份</th>
              <td><%= @service.profile.province %></td>
            </tr>
            <tr class="row row-">
              <th>城市</th>
              <td><%= @service.profile.city %></td>
            </tr>
            <tr class="row row-">
              <th>区域</th>
              <td><%= @service.profile.area %></td>
            </tr>
            <tr class="row row-">
              <th>详细地址</th>
              <td><%= @service.profile.address %></td>
            </tr>
            <tr class="row row-">
              <th>联系电话</th>
              <td><%= @service.profile.mobile %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="2">
    <table id="index_table_services" class="index_table index" paginator="true" border="0" cellpadding="0" cellspacing="0">
      <thead>
      <tr>
        <th class="col col-">订单编号</th>
        <th class="col col-">买家</th>
        <th class="col col-">联系方式</th>
        <th class="col col-">商品</th>
        <th class="col col-">数量</th>
        <th class="col col-">金额</th>
      </tr>
      </thead>
      <tbody>
      <% Order.where(service_id: @service.id).each_with_index do |order, index| %>
          <tr class="<%= index.even? ? 'even' : 'odd' %>">
            <td class="col col-"><%= order.no %></td>
            <td class="col col-"><%= order.contact_name %></td>
            <td class="col col-"><%= order.contact_phone %></td>
            <td class="col col-"><%= order.order_item.name %></td>
            <td class="col col-"><%= order.order_item.amount %></td>
            <td class="col col-"><%= order.total %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<div id="transfer" style="display: none; min-height: 100px;max-height: 600px z-index: 900 ">

  <%= form_tag(service_transfer_path(@service), remote: true, class: "form-horizontal") do %>
      <fieldset class="inputs">
        <legend><span>提现</span></legend>
        <div class="form-group form-group-sm">
          <label class="col-sm-2 control-label" for="service_interests">支付宝实名</label>

          <div class="col-sm-10">
            <%= select_tag(:coach, options_for_select(@service.coaches.includes(:profile).pluck('profiles.name', :id)), {include_blank: false}) %>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-2 control-label" for="service_interests">金额</label>

          <div class="col-sm-10">
            <%= number_field_tag(:amount, nil, min: 200, max: @service.wallet.balance) %>
          </div>
        </div>
      </fieldset>
      <%= submit_tag('提交') %>
  <% end %>
</div>
<div id="withdraw" style="display: none;">
  <%= form_tag(service_withdraw_path(@service), remote: true, class: "form-horizontal") do %>
      <fieldset class="inputs">
        <legend><span>提现</span></legend>
        <div class="form-group form-group-sm">
          <label class="col-sm-2 control-label" for="service_interests">支付宝实名</label>

          <div class="col-sm-10">
            <%= text_field_tag :name, '', class: 'form-control', placeholder: '请输入新闻标题' %>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-2 control-label" for="service_interests">支付宝账户</label>

          <div class="col-sm-10">
            <%= text_field_tag :account, '', class: 'form-control', placeholder: '请输入新闻标题' %>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label class="col-sm-2 control-label" for="service_interests">金额</label>

          <div class="col-sm-10">
            <%= number_field_tag(:amount, nil, min: 200, max: @service.wallet.balance) %>
          </div>
        </div>
      </fieldset>
      <%= submit_tag('提交') %>
  <% end %>
</div>