<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>课程详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <%= stylesheet_link_tag 'share/course/style', 'share/course/lrtk' %>
</head>
<body>

<a class="downtoad" href="http://www.e-mxing.com/download">
  <button id="download-button"></button>
</a>

<!-- 代码 开始 -->
<div class="container-fluid text-center">
  <div class="header"><%= image_tag(@sku.course_cover,
                                    'data-slideshow' => "#{@course.image.map { |item| item.thumb.url }.join('|')}",
                                    class: 'headerImg') %></div>
  <div class="toix-txt">
    <div class="toix-pocx">美型担保</div>
    <div class="toix-jg">
      <p class="lrs-l"><span class="dopoci"><%= @sku.selling_price.to_i %></span>元
        <span class="tpci"><%= @sku.market_price.to_i %>元</span></p>
    </div>
  </div>
</div>
<div class="Product">
  <h1><%= @sku.course_name %></h1>

  <h2><%= @sku.score == 0 ? 4 : @sku.score %><samp class="Score Score-3"></samp></h2>

  <div class="Introduction">
    <ul>
      <li><%= @course.style %></li>
      <li><%= @course.proposal %>课时</li>
      <li><%= @type_name %></li>
    </ul>
    <samp class="clear"></samp></div>
  <div class="adtre">
    <a href="http://www.e-mxing.com/download" class="Address-Headportrait">
      <samp class="Headportrait"><%= image_tag(@sku.seller_user.profile.avatar.thumb.url) %></samp>
      <samp class="Name">
        <% if @sku.sku.start_with?('CC') %>
            <%= @sku.seller %>-<%= @sku.seller_user.service.profile.name %>
        <% else %>
            <%= @sku.seller %>
        <% end %></samp></a>
    <a href="http://www.e-mxing.com/download" class="address"><samp class="Arrow"></samp><%= @sku.address %></a>


  </div>
</div>
<div class="Time">
  <ul>
    <li>
      <div class="Time-tie"><samp class="Time-pol"><%= @expired_date.month %>
        .<%= @expired_date.day %></samp><samp class="tdeqa"><%= @expired_date.year %></samp>
      </div>
      <div class="Time-teu">有效期截止</div>
    </li>
    <li>
      <div class="Time-tie"><samp class="Time-pol"><%= @course.during %></samp><samp class="tdeqa">分钟</samp></div>
      <div class="Time-teu">课程时长</div>
    </li>
    <div class="clear"></div>
  </ul>
  <samp class="clear"></samp></div>
<div class="Coursecontent">
  <h1>课程内容</h1>
  <h4>
    <%= simple_format @sku.course.intro %>
  </h4>
</div>
<div class="Coursecontent">
  <h1>特殊说明</h1>
  <h4><%= simple_format @sku.course.special %> </h4>
</div>
<div class="Equipment">
  <ul>
    <li>
      <% if @services.include?(1) %>
          <%= image_tag('share/course/Parking-a.png') %>
      <% else %>
          <%= image_tag('share/course/Parking.png') %>
      <% end %></li>
    <li>
      <% if @services.include?(2) %>
          <%= image_tag('share/course/Restauranticon-a.png') %>
      <% else %>
          <%= image_tag('share/course/Restauranticon.png') %>
      <% end %></li>
    </li>
    <li>
      <% if @services.include?(3) %>
          <%= image_tag('share/course/Wifiicon-a.png') %>
      <% else %>
          <%= image_tag('share/course/Wifiicon.png') %>
      <% end %></li>
    </li>
    <li>
      <% if @services.include?(4) %>
          <%= image_tag('share/course/Showericon-a.png') %>
      <% else %>
          <%= image_tag('share/course/Showericon.png') %>
      <% end %></li>
    </li>
  </ul>
</div>
<div class="Purchase "><samp class="Purchase-Buy">已购</samp>
  <% @buyers.each do |buyer| %>
      <a href="http://www.e-mxing.com/download">
        <%= image_tag(buyer.profile.avatar.thumb.url) %>
      </a>
  <% end %><samp class="Arrow arltop"></samp> <samp class="clear"></samp></div>
<div class="Number"><samp class="Arrow Numbertop"></samp><%= @comment_count %>秀</div>
<div class="Recommend">
  <% @image_comments.each do |image_comment| %>
      <a href="http://www.e-mxing.com/download">
        <div class="Recommend-txt">
          <h1 class="Recommend-txt-top"><samp><%= image_tag(image_comment.image.first.thumb.url) %></samp>

            <div class="Recommend-txt-tx">
              <img src="img/icon.png " alt=" "/><%= image_tag(image_comment.user.profile.avatar.thumb.url) %></div>
          </h1>
          <h2 class="poir "><%= image_comment.user.profile.name %></h2>

          <h3 class="pxco "><samp class="Score Score-3"></samp></h3>

          <div class="mend-txt"><%= image_comment.content %></div>
        </div>
      </a>
  <% end %>
  <p class="clear "></p>
</div>
<div class="foot "><a class="foot-Call" href="http://www.e-mxing.com/download">联系我们</a>
  <a class="foot-Buy" href="http://www.e-mxing.com/download">立即购买</a></div>
<%= javascript_include_tag 'share/course/jquery.min', 'share/course/jquery.hammer-full.min', 'share/course/plugin', 'share/course/lrtk' %>
<script>
    $(".slide ").click(function () {
        var index = $(this).attr('index');
        if (index === undefined) {
            window.open(links[0]);
        } else {
            window.open(links[(parseInt(index) + 1)]);
        }
    });
</script>
</body>
</html>