<!doctype html>
<html>
<head>
  <meta charset="UTF-8" content="<%= asset_path("") %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
  <%= stylesheet_link_tag 'share/dynamic', media: 'all', 'data-turbolinks-track' => true %>
  <title>美型|动态</title>
</head>
<body>
<div class="mxlogo"><%= image_tag('share/header.jpg') %></div>
<section class="mincon">
  <dl>
    <dt>
    <div style="width: 100%;height: 0;padding-bottom: 100%; background: url(<%=@user.profile.avatar.url%>);background-size: cover;"></div>
    </dt>
    <dd>
      <h3><%= @user.profile.name %></h3><span><%= @created_string %></span>

      <p>
        <% if @user.profile.sevice? %>
            <i class="ico3 ">证</i>
        <% elsif @user.profile.coach? %>
            <i class="ico4 ">教</i>
        <% end %>
      </p>

      <div class="text "><%= @dynamic.content %></div>
      <% if @dynamic_images.count>1 %>
          <ul class="imglist ">
            <% @dynamic_images.map { |image| %>
                <li>
                  <div style="width: 100%;height: 0;padding-bottom: 100%; background: url(<%=image.image.url%>);background-size: cover;"></div>
                </li>
            <% } %>
          </ul>
      <% elsif @dynamic_images.count==1 %>
          <div class="mximgcon"><%= image_tag(@dynamic_images.first.image.url, width: 327) %></div>
      <% end %>
      <% if @dynamic_film.present? %>
          <div class="video" id="HLSPlayer">
            <SCRIPT LANGUAGE=JavaScript>
                <!--
                /*
                 * HLSPlayer参数应用=======================
                 * @param {Object} vID        ID
                 * @param {Object} vWidth     播放器宽度设置
                 * @param {Object} vHeight    播放器宽度设置
                 * @param {Object} vPlayer    播放器文件
                 * @param {Object} vHLSset    HLS配置
                 * @param {Object} vPic       视频缩略图
                 * @param {Object} vCssurl    移动端CSS应用文件
                 * HLSPlayer参数应用=======================
                 * 提示1：本实例请在IIS/Apache等网站环境下测试
                 * 提示2：本实例仅支持hls(m3u8)/不支持flv,mp4,f4v
                 */
                var vWidth = "100%";                //播放器宽度设置
                var vHeight = 400;                   //播放器宽度设置
                var vPlayer = "<%=asset_path('HLSPlayer.swf')%>?v=1.5"; //播放器文件
                var vHLSset = "<%=asset_path('HLS.swf')%>";             //HLS配置
                var vPic = "<%=@dynamic_film.cover.url%>";    //视频缩略图
                var vCssurl = "<%=asset_path('share/mini', type: :stylesheet )%>";     //移动端CSS应用文件
                var vHLSurl = "<%=@dynamic_film.film.hls%>";
                //-->
            </SCRIPT>
            <%= javascript_include_tag 'hls.min' %>
          </div>
      <% end %>
    </dd>
  </dl>
</section>
<ul class="pllist ">
  <% @comments.map { |comment|
    comment_user = comment.user %>
      <li>
        <div class="imgbox"><%= image_tag(comment_user.profile.avatar.url) %></div>
        <div class="con "><i></i>
          <h5><%= comment_user.profile.name %></h5><em><%= comment.show_time_string %></em>

          <p><%= comment.content %></p>
        </div>
      </li>
  <% } %>
</ul>
<section class="mxfot ">
  <div class="mxfotcon ">
    <p class="logo "><%= image_tag('share/middle.png') %></p>

    <p>来美型，总有一课适合你</p>
    <span>www.e-mxing.com</span>
  </div>
  <ul class="tjlist ">
    <li>
      <a class="imgbox "><%= image_tag('share/icon_01.png') %></a>

      <p>相约型男美女</p>
    </li>
    <li>
      <a class="imgbox "><%= image_tag('share/icon_02.png') %></a>

      <p>找课约课运动轨迹</p>
    </li>
    <li>
      <a class="imgbox "><%= image_tag('share/icon_03.png') %></a>

      <p>360°个人秀场</p>
    </li>
  </ul>
</section>
<div class="ht70 "></div>
<div class="footbut">
  <dl>
    <dt><%= image_tag('share/footer.png') %></dt>
    <dd>
      <button onclick="window.location.href='http://www.e-mxing.com/download'">立即下载</button>
    </dd>
  </dl>
</div>
</body>
</html>