<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <title>美型</title>
  <%= stylesheet_link_tag 'share/service' %>
  <%= javascript_include_tag 'share/jquery.js', 'share/jquery-ui-1.10.3.min', 'share/jquery.fullPage.min', 'share/player' %>
</head>
<body>
<input type="hidden" value="<%= asset_path('share/service/code.jpg') %>" id="images">

<div class="load">
  <div class="loader">
    <div class="loaderlogo"><%= image_tag('share/service/logo.png') %></div>
    <div class="loadercon">
      <div class="progress-bar"></div>
    </div>
  </div>
</div>
<script>
    var demoImgArray = [
        "<%=image_path('share/page01.jpg')%>",
        "<%=image_path('share/page02.jpg')%>",
        "<%=image_path('share/page03.jpg')%>",
        "<%=image_path('share/page04.jpg')%>",
        "<%=image_path('share/s-up.png')%>",
        "<%=image_path('share/ico1.png')%>",
        "<%=image_path('share/code.jpg')%>",
        "<%=image_path('share/jmtext.png')%>",
        "<%=image_path('share/jmtext2.png')%>",
        "<%=image_path('share/kcico1.png')%>",
        "<%=image_path('share/kcico3.png')%>",
        "<%=image_path('share/kcico4.png')%>",
        "<%=image_path('share/music.png')%>",
        "<%=image_path('share/telico.png')%>",
        "<%=image_path('share/vitu.png')%>",
        "<%=image_path('share/logo.png')%>",
        "<%=image_path('share/fottu1.png')%>",
        "<%=image_path('share/fottu2.png')%>",
        "<%=image_path('share/fottu3.png')%>"];
    var stripesAnim;
    var calcPercent;
    $progress = $('.progress-bar');
    $percent = $('.percentage');
    $stripes = $('.progress-stripes');
    $ycnone = $('.load');
    $('.skin').click(function () {
        var whichColor = $(this).attr('id');
        setSkin(whichColor);
    });
    preload(demoImgArray);
    stripesAnimate();
    $(window).load(function () {
        loaded = true;
        $progress.animate({width: "100%"}, 100, function () {
            $percent.text('100%');
            $ycnone.addClass('ycnone');
            clearInterval(calcPercent);
            clearInterval(stripesAnim)
        })
    });
    function preload(imgArray) {
        var increment = Math.floor(100 / imgArray.length);
        $(imgArray).each(function () {
            $('<img>').attr("src", this).load(function () {
                $progress.animate({width: "+=" + increment + "%"}, 100)
            })
        });
        calcPercent = setInterval(function () {
            $percent.text(Math.floor(($progress.width() / $('.loader').width()) * 100) + '%')
        })
    }
    function stripesAnimate() {
        animating();
        stripesAnim = setInterval(animating, 2500)
    }
    function animating() {
        $stripes.animate({marginLeft: "-=30px"}, 2500, "linear").append('/')
    }
    $(document).ready(function () {
        $.fn.fullpage({});
    });
</script>
<section class="page page1">
  <div class="tx"><%= image_tag(@service.profile_avatar.thumb.url) %></div>
  <div class="pgbox01">
    <div class="mxzt">
      <h3><%= @service.profile_name %></h3>
      <i><%= image_tag('share/service/vitu.png') %></i>

      <p>斗牛三对三，你行你来吧！</p>
    </div>
    <div class="ico1"><%= image_tag('share/service/ico1.png') %></div>
  </div>
  <div class="pgbox02">
    <div class="text"><%= @service.profile_signature %></div>
    <div class="add"><%= @service.profile_address %></div>
    <div class="tel"><a href="#"><i></i>021-65873433</a></div>
  </div>
  <div class="pages"></div>
</section>

<section class="page page2">
  <%
     (0..7).map do |index|
       coach = @coaches[index]
       if coach.present?
  %>
          <p class="tx<%= (index+1) %>"><%= image_tag(coach.profile_avatar.thumb.url) %></p>
      <% else %>
          <p class="tx<%= (index+1) %>"><%= image_tag('share/service/touxiang.jpg') %></p>
      <% end %>
  <% end %>
  <div class="pages"></div>
</section>
<section class="page page3">
  <%
     (0..7).map do |index|
       photo = @photos[index]
       if photo.present?
  %>
          <p class="pic<%= (index+1) %>"><%= image_tag(photo.photo.thumb.url) %></p>
      <% else %>
          <p class="pic<%= (index+1) %>"><%= image_tag("share/pic/tu0#{(index+1)}.jpg") %></p>
      <% end %>
  <% end %>

  <div class="pages"></div>
</section>
<section class="page page4">
  <div class="con con_a">
    <h3><%= @courses.first.name %></h3>

    <p><%= @courses.first.style %></p><i></i><em></em>
    <%= image_tag('share/service/kcico1.png') %>
  </div>
  <div class="con con_b">
    <h3><%= @courses.second.name %></h3>

    <p><%= @courses.second.style %></p><i></i><em></em>
    <%= image_tag('share/service/kcico1.png') %>
  </div>
  <div class="con con_c">
    <h3><%= @courses.third.name %></h3>

    <p><%= @courses.third.style %></p><i></i><em></em>
    <%= image_tag('share/service/kcico1.png') %>
  </div>
  <div class="con con_d">
    <h3><%= @courses.fourth.name %></h3>

    <p><%= @courses.fourth.style %></p><i></i><em></em>
    <%= image_tag('share/service/kcico1.png') %>
  </div>
  <div class="pages"></div>
</section>
<section class="page page5">
  <div class="logo"><%= image_tag('share/service/logo.png') %></div>
  <div class="mys"><%= image_tag('share/service/jmtext.png', alt: '美于身 健于型') %></div>
  <div class="code"><%= image_tag('share/service/code.jpg') %></div>
  <div class="codetext">扫一扫，下载美型</div>
  <ul class="tjlist">
    <li class="li01">
      <a class="imgbox"><%= image_tag('share/service/fottu1.png') %></a>

      <p>相约型男美女</p>
    </li>
    <li class="li02">
      <a class="imgbox"><%= image_tag('share/service/fottu2.png') %></a>

      <p>找课约课运动轨迹</p>
    </li>
    <li class="li03">
      <a class="imgbox"><%= image_tag('share/service/fottu3.png') %></a>

      <p>360°个人秀场</p>
    </li>
  </ul>
  <div class="footbut">
    <p class="fotlogo"><%= image_tag('share/service/logo.png') %></p>

    <p class="mys2"><%= image_tag('share/service/jmtext2.png', alt: '美于身 健于型') %></p>

    <p class="dowtext">立即下载美型客户端&gt;</p>
    <button>立即下载</button>
  </div>
</section>
<script type="text/javascript">
    global_swipe_lock = 0;
    var config = {
        enable_music: 1,
        swipeCur: 0
    }
</script>

<div id="swipe">
  <ul>
    <li>
      <div class="li_bg"></div>
    </li>
  </ul>
</div>
<!--<div id="musicWrap" class="music">-->
<!--<span class="text move hide"> </span><i id="audioBtn" data-src="music/music.mp3" class="btn_music on"></i></div>-->
</body>
</html>