<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'home/style' %>
  <title>美型网</title>
</head>
<body>
<div class="header">
  <div class="headercon">
    <div class="logo"><a href="#">美型网－美于身 健于型</a></div>
    <ul class="nav">
      <ul class="nav">
        <li><%= link_to('首页', '/home/index') %></li>
        <li><%= link_to('关于我们', '/home/about') %></li>
        <li><%= link_to('动态', '/home/dynamic') %></li>
        <li><%= link_to('商务合作', '/home/contact') %></li>
        <li><%= link_to('加入美型', '/home/join') %></li>
      </ul>
    </ul>
    <div class="clear"></div>
  </div>
</div>
<!--banner-->
<div class="sw_banner jr_banner">
  <div class="sw_text">
    <p>上海公司办公地点在凌空soho，太空堡垒的建筑内，距离二号线地铁淞虹路十分钟。</p>

    <p>携手一起迈出坚实的一步，让我们开启星际远航吧！</p>

    <p>北京分公司筹备ing，上海总部办公地点在凌空soho，太空堡垒的建筑内，</p>

    <p>距离二号线地铁淞虹路十分钟。携手一起迈出坚实的一步，让我们开启星际远航吧！</p>
  </div>
  <div class="tel"><em>简历投递 hr@e-mxing.com</em></div>
</div>
<!--banner End-->
<div class="jobbox">
  <h1>招聘职位</h1>

  <div class="jobcon">
    <div class="job_l">
      <h3>市场企划经理</h3>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>负责社交平台的整体营销策划.需至少拥有下述各项中的3个专长</p>

          <p>a．品牌公关，宣传，合理开发使用媒体资源，PR/EPR。</p>

          <p>b．创意策划，卓有成效地设计各类线上线下的品牌创意和商品营销活动。</p>

          <p>c．社区运营，口碑营销，有效使用社区微博微信等各平台扩大品牌影响力。</p>

          <p>d．商务拓展，开发优质的线上线下合作渠道，客户引流。</p>
        </dd>
      </dl>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>负责社交平台的整体营销策划.需至少拥有下述各项中的3个专长</p>

          <p>a．品牌公关，宣传，合理开发使用媒体资源，PR/EPR。</p>

          <p>b．创意策划，卓有成效地设计各类线上线下的品牌创意和商品营销活动。</p>

          <p>c．社区运营，口碑营销，有效使用社区微博微信等各平台扩大品牌影响力。</p>

          <p>d．商务拓展，开发优质的线上线下合作渠道，客户引流。</p>
        </dd>
      </dl>
    </div>
    <div class="job_r">
      <h3>IOS高级开发工程师</h3>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>负责社交平台的整体营销策划.需至少拥有下述各项中的3个专长</p>

          <p>a．品牌公关，宣传，合理开发使用媒体资源，PR/EPR。</p>

          <p>b．创意策划，卓有成效地设计各类线上线下的品牌创意和商品营销活动。</p>

          <p>c．社区运营，口碑营销，有效使用社区微博微信等各平台扩大品牌影响力。</p>

          <p>d．商务拓展，开发优质的线上线下合作渠道，客户引流。</p>
        </dd>
      </dl>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>负责社交平台的整体营销策划.需至少拥有下述各项中的3个专长</p>

          <p>a．品牌公关，宣传，合理开发使用媒体资源，PR/EPR。</p>

          <p>b．创意策划，卓有成效地设计各类线上线下的品牌创意和商品营销活动。</p>

          <p>c．社区运营，口碑营销，有效使用社区微博微信等各平台扩大品牌影响力。</p>

          <p>d．商务拓展，开发优质的线上线下合作渠道，客户引流。</p>

          <p>a．品牌公关，宣传，合理开发使用媒体资源，PR/EPR。</p>

          <p>b．创意策划，卓有成效地设计各类线上线下的品牌创意和商品营销活动。</p>

          <p>c．社区运营，口碑营销，有效使用社区微博微信等各平台扩大品牌影响力。</p>

          <p>d．商务拓展，开发优质的线上线下合作渠道，客户引流。</p>
        </dd>
      </dl>
    </div>
  </div>
</div>
<!--footer-->
<div class="footer">
  <div class="footcon">
    <div class="fl_left"><%= image_tag('home/footlogo.png') %>www.e-mxing.com 2014-2018 &copy; All Rights
      Reserved.<br>沪ICP备14049249号-1
    </div>
    <div class="fl_right"><a href="#" class="ios" title="苹果下载"></a><a href="#" title="安卓下载"></a></div>
    <div class="clear"></div>
  </div>
</div>
</body>
</html>

