<div class="header">
  <div class="logo"><a href="#">美型网</a></div>
  <ul class="nav">
    <li><%= link_to('首页', {controller: :home, action: :index}) %></li>
    <li><%= link_to('关于美型', {controller: :home, action: :about}) %> <i></i></li>
    <li><%= link_to('美型动态', {controller: :home, action: :dynamic}) %> <i></i></li>
    <li><%= link_to('联系我们', {controller: :home, action: :contact}) %><i></i></li>
    <li><%= link_to('加入我们', {controller: :home, action: :join}, class: 'cur') %> <i></i></li>
  </ul>
  <div class="clear"></div>
</div>
<div class="content ">
  <div class="map"><%= image_tag('web/jrtu.jpg') %></div>
  <div class="joinbox">
    <h2>提供职位</h2>

    <div class="joincon fl">
      <h3>市场企划经理</h3>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>负责社交平台的整体营销策划.需至少拥有下述各项中的3个专长</p>

          <p>a．品牌公关，宣传，合理开发使用媒体资源，PR/EPR。</p>

          <p>b．创意策划，卓有成效地设计各类线上线下的品牌创意和商品营销活动。</p>

          <p>c．社区运营，口碑营销，有效使用社区微博微信等各平台扩大品牌影响力。</p>

          <p>d．商务拓展，开发优质的线上线下合作渠道，客户引流。</p>
        </dd>
      </dl>
      <dl>
        <dt>任职资格要求：</dt>
        <dd>
          <p>1．3年以上电子商务或互联网平台市场运营经验, 有知名网站或知名互联网公司背景者优先；</p>

          <p>2．具有大型广告公司创意策划经验。</p>

          <p>3．具有优秀的沟通能力，团队意识与执行能力</p>

          <p>4．热爱健身和运动，能前瞻的运用互联网和移动互联网热点和发展</p>
        </dd>
      </dl>
    </div>
    <div class="joincon fr">
      <h3>IOS高级开发工程师</h3>
      <dl>
        <dt>职位描述:</dt>
        <dd>
          <p>1、根据业务需求，基于IOS平台进行移动端应用程序独立开发设计、实现、测试及功能维护；</p>

          <p>2、移动平台软件框架的研究，设计和实现、关键技术验证和选型工作；</p>

          <p>3、人机交互界面的设计，为用户提供良好交互体验；</p>

          <p>4、根据开发过程中的用户体验提出改进建议；</p>

          <p>5、学习和研究新的移动互联网技术以及改善手机产品的需求。</p>

          <p>6、全程参与手机App产品需求、功能等讨论，并根据需求出设计方案；</p>

          <p>7、负责IOS平台上的技术攻关, 确保开发质量；</p>

          <p>8、改善软件的易用性，提升用户使用体验，重构和产品技术持续改进；</p>
        </dd>
      </dl>
      <dl>
        <dt>任职要求:</dt>
        <dd>
          <p>1.熟悉ios工作机制，对objective-c的语言特性有深入理解与实施，能准确获取调试信息。能借鉴c++语言概念，熟练有效地使用objective-c语言；</p>

          <p>2.专职IOS开发3年以上，精通IOS开发平台及框架原理，独立完成IOS产品研发作品3个以上；</p>

          <p>3.熟悉IOS移动终端特性、开发特点，有IOS平台各类常见问题的应对经验，有后端开发经验者优先；</p>

          <p>4.有良好的团队合作能力，能承担较大工作压力；对自身技术提升具有强烈的学习欲望，愿通过努力工作与公司共同发展；</p>

          <p>5.对移动互联网有浓厚的兴趣，拥有创造顶级产品的激情；</p>

          <p>6.计算机专业优先，大学专科及以上学历；</p>

          <p>7.熟悉即时视频网络通信协议优先；</p>
        </dd>
      </dl>
    </div>
  </div>
  <div class="toudi">简历投递<br><a href="#">hr@e-mxing.com</a></div>
</div>