<div class="span12">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#image" data-toggle="tab">图片</a></li>
    <li><a href="#film" data-toggle="tab">视频</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="image">
      <%= semantic_form_for([:admin, @service, @service_dynamic], html: {class: "form-horizontal"}) do |f| %>
          <fieldset class="inputs">
            <legend><span>图片动态</span></legend>
            <%= f.hidden_field :top, value: 0 %>
            <div class="form-group form-group-sm">
              <label class="col-sm-2 control-label" for="service_dynamic_content">动态内容</label>

              <div class="col-sm-10">
                <%= f.text_area :content, placeholder: "请输入动态内容", rows: 3 %>
              </div>
            </div>
            <%= f.fields_for :dynamic_images||f.dynamic_images.new do |dynamic_image_form| %>
                <div class="form-group form-group-sm">
                  <label class="col-sm-2 control-label">图片</label>

                  <div class="col-sm-10">
                    <%= dynamic_image_form.file_field :image %>
                  </div>
                </div>
            <% end %>
          </fieldset>
          <%= f.submit('提交') %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="film">
      <%= semantic_form_for([:admin, @service, @service_dynamic], html: {class: "form-horizontal"}) do |f| %>
          <fieldset class="inputs">
            <legend><span>视频</span></legend>
            <%= f.hidden_field :top, value: 0 %>
            <div class="form-group form-group-sm">
              <label class="col-sm-2 control-label" for="service_name">内容</label>

              <div class="col-sm-10">
                <%= f.text_field :content, class: 'form-control', placeholder: "请输入动态内容" %>
              </div>
            </div>
            <%= f.semantic_fields_for :dynamic_film, f.object.dynamic_film||DynamicFilm.new do |dynamic_film| %>
                <div class="form-group form-group-sm">
                  <label class="col-sm-2 control-label" for="service_name">封面</label>

                  <div class="col-sm-10">
                    <%= dynamic_film.file_field :cover %>
                  </div>
                </div>
                <div class="form-group form-group-sm">
                  <label class="col-sm-2 control-label" for="service_name">文件</label>

                  <div class="col-sm-10">
                    <%= dynamic_film.file_field :film %>
                  </div>
                </div>
            <% end %>
          </fieldset>
          <%= f.submit('提交') %>
      <% end %>
    </div>
  </div>
</div>