<%= semantic_form_for([:admin, @service, @service_member], html: {class: 'form-horizontal'}) do |f| %>
    <fieldset class="inputs">
      <legend><span>添加教练</span></legend>
      <%= f.semantic_fields_for :coach do |c| %>
          <% if f.object.coach.errors.full_messages.present? %>
              <div class="alert alert-danger alert-dismissable" style="text-align: center">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <% f.object.coach.errors.each { |k, v| %>
                    <%= v %><br/>
                <% } %>
              </div>
          <% end %>
          <% if c.object.new_record? %>
              <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="service_name">登录名</label>

                <div class="col-sm-10">
                  <%= c.text_field :mobile, class: 'form-control', placeholder: '请输入登录用户名,请使用手机号' %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="service_avatar">密码</label>

                <div class="col-sm-10">
                  <%= c.password_field :password, class: 'form-control', placeholder: '请输入登录密码' %>
                </div>
              </div>
          <% end %>
          <%= c.semantic_fields_for :profile do |p| %>
              <%= p.hidden_field(:identity, value: Profile.identities[:coach]) %>
              <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="service_signature">昵称</label>

                <div class="col-sm-10">
                  <%= p.text_field :name, class: 'form-control', placeholder: '请输入教练昵称', required: true %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="service_signature">头像</label>

                <div class="col-sm-10">
                  <%= p.file_field :avatar %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="service_address">生日</label>

                <div class="col-sm-10">
                  <%= p.text_field :birthday, class: 'datepicker', placeholder: '请输入教练生日' %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="service_address">性别</label>

                <div class="col-sm-10">
                  <%= p.select(:gender, [['男', 0], ['女', 1]]) %>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="service_signature">签名</label>

                <div class="col-sm-10">
                  <%= p.text_field :signature, class: 'form-control', placeholder: '请输入教练签名' %>
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="service_interests">健身服务</label>

                <div class="col-sm-10">
                  <%= p.select(:hobby, INTERESTS['items'].map { |item| [item['name'], item['id']] }, {include_hidden: false}, {multiple: true}) %>
                </div>
              </div>
          <% end %>
      <% end %>
    </fieldset>
    <%= f.submit('提交') %>
<% end %>
<script type="text/javascript">
    $('#service_member_coach_attributes_profile_attributes_hobby').multiselect();
</script>