<section class="actilist">
  <%
     for apply in @activity.applies
       apply_user = apply.user
  %>
      <dl>
        <dt><%= image_tag(apply_user.profile_avatar.thumb.url) %></dt>
        <dd>
          <h3><%= apply_user.profile_name %></h3><span>6.5km</span>
          <% if apply_user.profile_gender.eql?(1) %>
              <p><i class="woman"><%= apply_user.profile.age %></i><i class="ico3">证</i></p>
          <% else %>
              <p><i class="man"><%= apply_user.profile.age %></i><i class="ico3">证</i></p>
          <% end %>
          <div class="text"><%= apply_user.profile.interests_string %></div>
        </dd>
      </dl>
  <% end %>
</section>
<div class="yqyes" id="groupWin" style="display: none">请求发送成功<br>等待群主审核</div>
<div class="yqyes" id="joinWin" style="display: none">请求发送成功</div>
<script>
    $("#joinInAct").bind('click', function (event) {
        $.ajax({
            type: "PUT",
            url: window.location.pathname,
            headers: {
                token: "<%=@token%>"
            },
            data: {},
            success: function (result) {
                $("#joinWin").show();
                setTimeout(function () {
                    $("#joinWin").fadeOut();
                }, 3000)
            }
        });
    })
    $("#joinInGroup").bind('click', function (event) {
        $.ajax({
            type: "POST",
            url: window.location.pathname + "/group",
            data: {},
            success: function (result) {
                $("#groupWin").show();
                setTimeout(function () {
                    $("#groupWin").fadeOut();
                }, 3000)
            }
        });
    })
</script>
