<section class="acti" style="background:url(<%=@activity.cover.url%>) no-repeat; background-size:cover;">
  <dl class="actitop">
    <dt>
    <h4><%= @activity.title %></h4>

    <p><i class="ico1"></i><%= @activity.address %></p>

    <p><i class="ico2"></i><%= @activity.start_date %> ~ <%= @activity.end_date %></p>

    <p><i class="ico3"></i><%= @activity.theme_name %></p>
    </dt>
  </dl>
  <% if @activity.stage.eql?(1) %>
  <% end %>
</section>
<% if @activity.stage.eql?(1) %>
    <section class="actizt">
      <dl class="bgf">
        <dt>主办方</dt>
        <dd><%= @group.name %></dd>
      </dl>
    </section>
    <section class="line-b">
      <div class="hdcon">
        <%= sanitize @activity.content %>
      </div>
      <div class="morebox"><a href="#">查看更多<i></i></a></div>
    </section>
    <section class="hotlist line-t">
      <dl>
        <dt><%= image_tag(@activity.cover.thumb.url) %></dt>
        <dd>
          <h3><%= @group.name %></h3><i></i>

          <p><%= @group.intro %></p>

          <div class="szxx"><em>7</em>86/100</div>
        </dd>
      </dl>
    </section>
<% elsif @activity.stage.eql?(1) %>
<% else %>
<% end %>
