<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
  <%= stylesheet_link_tag 'wap/wap', media: 'all', 'data-turbolinks-track' => true %>
  <title>健身手机版</title>
</head>
<% if @actor.nil? %>
    <body class="bg">
    <div class="homebg"><%= yield %></div>
    </body>
<% else %>
    <body>
    <header>
      <dl>
        <dt><%= image_tag('wap/logo.png') %></dt>
        <dd><%= image_tag('wap/dows.png') %></dd>
      </dl>
    </header>
    <div class="wrap">
      <dl class="xinxi">
        <dt>
        <div class="tx">
          <%= image_tag(@actor.avatar.thumb.url, alt: '用户头像 ', width: 130, height: 130) %>
        </div>
        <div class="xm">
          <em><%= @actor.name %></em>
          <i> <%= @actor.gender.eql?(0) ? image_tag('wap/boy.png', alt: '男') : image_tag('wap/girl.png', alt: '女') %></i>
        </div>
        </dt>
        <dd><a href="#"><%= image_tag('wap/dynamic.png') %></a></dd>
      </dl>
      <%= yield %>
      <div class="dowapp"><a href="http://www.e-mxing.com">下载客户端查看更多</a></div>
    </div>
    </body>
<% end %>
</html>
